<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiden.kpcon.mapper.AuthMapper">
  <resultMap id="BaseResultMap" type="com.aiden.kpcon.model.Auth">
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_ava" jdbcType="TINYINT" property="roleAva" />
    <result column="role_des" jdbcType="VARCHAR" property="roleDes" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_ava, role_des, role_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aiden.kpcon.model.Auth">
    insert into role (role_id, role_ava, role_des, 
      role_name)
    values (#{roleId,jdbcType=VARCHAR}, #{roleAva,jdbcType=TINYINT}, #{roleDes,jdbcType=VARCHAR}, 
      #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiden.kpcon.model.Auth">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleAva != null">
        role_ava,
      </if>
      <if test="roleDes != null">
        role_des,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleAva != null">
        #{roleAva,jdbcType=TINYINT},
      </if>
      <if test="roleDes != null">
        #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiden.kpcon.model.Auth">
    update role
    <set>
      <if test="roleAva != null">
        role_ava = #{roleAva,jdbcType=TINYINT},
      </if>
      <if test="roleDes != null">
        role_des = #{roleDes,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiden.kpcon.model.Auth">
    update role
    set role_ava = #{roleAva,jdbcType=TINYINT},
      role_des = #{roleDes,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
</mapper>